{% extends "main/index.html" %}
{% load static %}
{% block title %}Suppliers{% endblock %}
{% block content %}

<h2>List of Suppliers</h2>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'suppliers:supplier-add' %}">Add Supplier</a>
{% endif %}
<hr>
{% if supplier_list %}
    <table>
            <tr style="border-bottom: 1px solid #fff">
            <th style="padding: 5px; color: #125B50">Name</th>
            <th style="padding: 5px; color: #125B50">Email</th>
            </tr>

        {% for supplier in supplier_list %}
        <tr style="border-bottom: 1px solid #fff">
           <td style="padding: 5px">{{supplier.name}} </td><td style="padding: 5px">{{supplier.email}}</td>
            <td><a href="{% url 'suppliers:supplier-detail' supplier.id %}" style="padding: 5px">
                <i class="bi-plus-circle-fill" style="color: #125B50"> </i>
            </a></td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'suppliers:supplier-update' supplier.id %}" style="padding: 5px">
                <i class="bi-pencil-square" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'suppliers:supplier-delete' supplier.id %}" style="padding: 5px">
                <i class="bi-trash-fill" style="color: #125B50"> </i>
            </a></td>
            {% endif %}
        </tr>

    {% endfor %}
    </table>

{% else %}
<h4><p style="color: #125B50">No suppliers yet</p></h4>
{% endif %}

{% endblock %}