{% extends "main/index.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div>
<h1 style="color: #125B50">{{ user.username}}</h1>

<img width=40% src="{{ url }}" style="border-radius:2em">
</div>
<br>
     <div class="row">
         <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
             <a class="btn btn-primary" href="{% url 'accounts:user-update' %}">Edit User</a>
             <a class="btn btn-primary" href="{% url 'accounts:avatar-load' %}">Edit Avatar</a>
         </div>
     </div>

{% endif %}
{% endblock %}