{% extends "main/index.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <h1 style="color: #125B50">{{ user.username}}</h1>

{% if messages %}
    {% for message in messages %}
    <h4><p style="color: #125B50" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></h4>
    {% endfor %}
{% endif %}

{% if url %}
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <img width=90% src="{{ url }}" style="border-radius:4em">
        </div>

        <div class="col-lg-6 h-100 text-center text-lg-start">

            <p style="color: #125B50; font-size:1.6em"><b>{{user.first_name}} {{user.last_name}}</b></p>
                <p style="font-size:1.4em"><b>{{user.email}}</b> </p>

                {% if bio  %}
                <div style="background: #fff; color: #000; border-radius: 5px"><p style="padding: 0.7em">{{bio}}</p></div>
                {% endif %}
        </div>
    </div>
{% else %}
<p style="color: #125B50; font-size:1.6em"><b>{{user.first_name}} {{user.last_name}}</b></p>
                <p style="font-size:1.4em"><b>{{user.email}}</b> </p>

                {% if bio  %}
                <div style="background: #fff; color: #000; border-radius: 5px"><p style="padding: 0.7em">{{bio}}</p></div>
                {% endif %}

{% endif %}
<br>
     <div class="row">
         <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
             <a class="btn btn-primary" href="{% url 'accounts:user-update' %}">Edit User</a>
             <a class="btn btn-primary" href="{% url 'accounts:avatar-load' %}">Edit Avatar</a>
             <a class="btn btn-primary" href="{% url 'accounts:bio-update' %}">Edit Biography</a>
         </div>
     </div>

</div>
{% endif %}
{% endblock %}