{% extends "app_1/index.html" %}
{% load static %}
{% block content %}

<h2>Lista de Profesores</h2>
<a class="card_custom" href="{% url 'ProfesorDjangoForms' %}">Crear nuevo Profesor</a>
<hr></hr>
<table>
    {% for profesor in profesors %}
        <tr>
            <td style="padding: 1em">{{profesor.name}} {{profesor.last_name}}</td>
            <td style="padding: 1em">{{profesor.email}}</td>
            <td style="padding: 1em">{{profesor.profession}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
