{% extends "app_1/index.html" %}
{% load static %}
{% block title %}Supplier Detail{% endblock %}
{% block content %}

<h2>Supplier Detail</h2>
<hr></hr>
<p style="color: #125B50; font-size:1.6em"><b>{{supplier.name}}</b></p>
<p style="font-size:1.4em"><b>Email:</b> {{supplier.email}}</p>
<p style="font-size:1.4em"><b>Phone:</b> {{supplier.phone}}</p>
<p style="font-size:1.4em"><b>Bank Account:</b> {{supplier.bank_account}}</p>
<p style="font-size:1.4em"><b>Working Since:</b> {{supplier.working_since}}</p>
<p><a class="btn btn-primary" href="{% url 'app_1:supplier-list' %}">Back to supplier list</a></p>
{% endblock %}

