{% extends "app_1/index.html" %}
{% load static %}
{% block title %}Suppliers{% endblock %}
{% block content %}

<h2>List of Suppliers</h2>
<a class="btn btn-primary" href="{% url 'app_1:supplier-add' %}">Add Supplier</a>
<hr>
    <table>
            <tr style="border-bottom: 1px solid #fff">
            <th style="padding: 5px">Name</th>
            <th style="padding: 5px">Email</th>
            <th style="padding: 5px" ></th>
            <th style="padding: 5px"></th>
        </tr>
        {% for supplier in supplier_list %}
        <tr style="border-bottom: 1px solid #fff">
           <td style="padding: 5px">{{supplier.name}} </td><td style="padding: 5px">{{supplier.email}}</td>
            <td><a href="{% url 'app_1:supplier-detail' supplier.id %}" style="padding: 5px">
                <i class="bi-plus-circle-fill" style="color: #125B50"> </i>
            </a></td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'app_1:supplier-update' supplier.id %}" style="padding: 5px">
                <i class="bi-pencil-square" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:supplier-delete' supplier.id %}" style="padding: 5px">
                <i class="bi-trash-fill" style="color: #125B50"> </i>
            </a></td>
            {% endif %}
        </tr>

    {% endfor %}
    </table>

{% endblock %}