{% extends "main/index.html" %}
{% load static %}
{% block title %}Proyecto Final CoderHouse{% endblock %}
{% block content %}


{% if user.is_authenticated %}
<div class="text-center">
    <h2>Bienvenido {{ user.username }}</h2>
    <h3><a style="color: rgb(3, 36, 184)" href="{% url 'accounts:avatar-load' %}">Cambiar Avatar</a></h3>
    <img height="160px" src="{{url}}" alt="fallo">
</div>
{% endif %}
<h2>Search</h2>
<hr>
<form action="/search" method="GET">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <input type="text" name="client_search" id="client_name" placeholder="Search client" class="form-control"> </div>
        <div class="col-auto"><button type="submit" class="btn btn-primary" ><i class="bi-arrow-right-circle-fill" style="color: #125B50"> </i></button> </div>
    </div><br>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <input type="text" name="supplier_search" id="supplier_name" placeholder="Search supplier" class="form-control"> </div>
        <div class="col-auto"><button type="submit" class="btn btn-primary" ><i class="bi-arrow-right-circle-fill" style="color: #125B50"> </i></button> </div>
    </div><br>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <input type="text" name="product_search" id="product_name" placeholder="Search product" class="form-control"> </div>
        <div class="col-auto"><button type="submit" class="btn btn-primary" ><i class="bi-arrow-right-circle-fill" style="color: #125B50"> </i></button> </div>
    </div><br>
</form>

<br>

{% if clients %}
    <table>
        <tr style="border-bottom: 1px solid #fff">
            <th style="padding: 5px">Name</th>
            <th style="padding: 5px">Email</th>
            <th style="padding: 5px" >Phone</th>
            <th style="padding: 5px" ></th>
            <th style="padding: 5px"></th>
        </tr>
        {% for client in clients %}
        <tr style="border-bottom: 1px solid #fff">
           <td style="padding: 5px">{{client.name}} {{client.last_name}} </td><td style="padding: 5px">{{client.email}}</td>
           <td style="padding: 5px">{{client.phone}}</td>
           <td><a href="{% url 'app_1:client-detail' client.id %}" style="padding: 5px">
                <i class="bi-plus-circle-fill" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:client-update' client.id %}" style="padding: 5px">
                <i class="bi-pencil-square" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:client-delete' client.id %}" style="padding: 5px">
                <i class="bi-trash-fill" style="color: #125B50"> </i>
            </a></td>
        </tr>

        {% endfor %}
    </table>
{% endif %}


{% if products %}
    <table>
            <tr style="border-bottom: 1px solid #fff">
            <th style="padding: 5px">Name</th>
            <th style="padding: 5px">Category</th>
            <th style="padding: 5px" >Price</th>
            <th style="padding: 5px" ></th>
            <th style="padding: 5px"></th>
        </tr>
        {% for product in products %}
        <tr style="border-bottom: 1px solid #fff">
           <td style="padding: 5px"><b>{{product.name}}</b></td><td style="padding: 5px">{{product.category}}</td>
           <td style="padding: 5px">{{product.price}}</td>
           <td><a href="{% url 'app_1:product-detail' product.id %}" style="padding: 5px">
                <i class="bi-plus-circle-fill" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:product-update' product.id %}" style="padding: 5px">
                <i class="bi-pencil-square" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:product-delete' product.id %}" style="padding: 5px">
                <i class="bi-trash-fill" style="color: #125B50"> </i>
            </a></td>
        </tr>

    {% endfor %}
    </table>
{% endif %}

{% if suppliers %}
    <table>
         <tr style="border-bottom: 1px solid #fff">
            <th style="padding: 5px">Name</th>
            <th style="padding: 5px">Email</th>
            <th style="padding: 5px" ></th>
            <th style="padding: 5px"></th>
        </tr>
        {% for supplier in suppliers %}
        <tr style="border-bottom: 1px solid #fff">
           <td style="padding: 5px">{{supplier.name}} </td><td style="padding: 5px">{{supplier.email}}</td>
            <td><a href="{% url 'app_1:supplier-detail' supplier.id %}" style="padding: 5px">
                <i class="bi-plus-circle-fill" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:supplier-update' supplier.id %}" style="padding: 5px">
                <i class="bi-pencil-square" style="color: #125B50"> </i>
            </a></td>
            <td><a href="{% url 'app_1:supplier-delete' supplier.id %}" style="padding: 5px">
                <i class="bi-trash-fill" style="color: #125B50"> </i>
            </a></td>
        </tr>

    {% endfor %}
    </table>
{% endif %}

{% endblock %}